@media screen and (min-width: 1920px) {
  .particles {
    right: 0;
  }
}
@media screen and (max-width: 1330px) {
  .container {
    width: 1140px !important;
  }
}
@media screen and (max-width: 1180px) {
  .container {
    width: 960px !important;
  }
  .header {
    padding-bottom: 35px;
  }
  .header-nav,
  .header-nav-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu {
    padding-left: 0;
  }
  .logo {
    padding-bottom: 0;
  }
  .header-nav__menu {
    padding: 15px 0;
  }
  .offer-wrapper__right {
    display: none;
  }
  .offer-wrapper__left {
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
  }
  .checkbox-list {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .proposal-list__item {
    padding: 0 15px;
  }
  .proposal-list__item h2 {
    font-size: 20px;
  }
  .proposal-list__item p {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 720px !important;
  }
  .proposal-list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .proposal-list__item {
    margin-bottom: 80px;
  }
  .proposal-list__item:nth-child(3),
  .proposal-list__item:last-child {
    margin-bottom: 0;
  }
  .partners {
    padding-bottom: 150px;
  }
  .partners-list {
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .partners-list__item {
    margin: 0 auto;
  }
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-logo {
    width: 172px;
    margin: 0 auto;
  }
  .links-list {
    margin: 0 auto;
    padding-bottom: 100px;
  }
  .footer-wrapper__menu {
    margin: 0 auto;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 540px !important;
  }
  .offer-wrapper__left {
    width: 100%;
  }
  .offer-wrapper__left input {
    font-size: 10px;
  }
  .offer__title p {
    font-size: 14px;
  }
  h1 {
    font-size: 42px !important;
  }
  p {
    font-size: 14px !important;
  }
  .proposal-list__item:last-child {
    padding-top: 80px !important;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 90% !important;
  }
  .search-wrapper__wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search-object {
    width: 100%;
    margin-left: 0;
  }
  .search-wrapper__input {
    width: 100%;
  }
  .search-wrapper__input input {
    font-size: 14px;
  }
  .header-nav__account,
  .header-nav-left {
    min-width: 300px !important;
  }
  .like,
  #age-limit-anim,
  .header-nav__menu {
    display: none;
  }
  .header-nav-left {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .logo {
    padding: 30px 0;
  }
  .burger-menu-wrapper {
    margin-right: -17.5px;
  }
  .checkbox-list,
  .footer-wrapper__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .checkbox-list {
    width: 133px;
  }
  .checkbox-list__item {
    margin-right: auto;
    margin-bottom: 15px;
  }
  .checkbox-list__item:last-child {
    margin: 0;
  }
  .footer-wrapper__menu {
    width: 100%;
  }
  .footer-wrapper__menu-item {
    margin-bottom: 50px;
  }
  .footer-wrapper__menu-item:last-child {
    margin-bottom: 0;
  }
  .proposal-text {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 60px;
  }
  .partners-list__item {
    padding: 30px 0;
  }
  h1 {
    font-size: 36px !important;
  }
  .burger-menu-wrapper {
    display: block;
  }
}
@media screen and (max-width: 350px) {
  .header-nav-left {
    min-width: 90% !important;
  }
  .header-nav__account {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .auth {
    margin-bottom: 15px;
  }
}
